<p class="text-md-center text-justify">
    Bruce epitomized personality, whether he was stubbornly looking in his parents’ eyes saying “No,” or laughing
    hysterically in an instant. Bruce’s keen eye for sweets, earned him the title of “Candy Monster.” His unique ability
    to locate candy long after his parent’s thought all the candy had been disposed of resulted in the family finding
    him sitting on top of the counter with a sucker in his mouth, on the bench with a tootsie roll, or strolling down
    the hall with chocolate.
    <br>
    <br>
    Bruce filled his two-year tenure on earth with love and family. He loved helping his siblings with chores,
    particularly vacuuming. He loved anything that would roll, including his toy trucks and construction vehicles. With
    the invigorating energy that only a two-year old can muster he got dirty, ran, jumped, climbed, and rode. Yet, with
    the sweet gentleness and trust reserved for one so young, untainted by toil and strife, he cared for his “baby.”
    Then, with cup of “mak” in hand he would crawl into the expecting arms of his mommy and daddy for early morning
    snuggles, whispering “I love you,” in his best monster whisper.
    <br>
    <br>
    His laugh, his smile, his big brown eyes and fierce love will be missed by all as we struggle to adopt his motto
    “Live and love big with all your might.” He will always be our baby boy, our Bruce, our Caboose.
</p>
