<header>
    <h1>Bruce The Caboose</h1>
    <a href="/" class="btn btn primary">Home</a>
</header>

<div class="columns">
    <div class="rows">
        <video width="320" height="240" controls>
            <source src="/wwwroot/videos/32666FDF-E5E9-4E47-9192-6F5BF904D600.mp4" type="video/mp4">
            @* <source src="" type=""> *@
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="columns">
        <partial name="_BruceSummary" />
    </div>
    <div class="d-flex align-items-start bg-light mb-3">
        <div class="row">
            <div class="columns">
                <img src="/wwwroot/img/AandB.jpeg">
                <img src="/wwwroot/img/Brothers1.jpeg">
                <img src="/wwwroot/img/Brothers2.jpeg">
            </div>
            <div class="columns">
                <div class="row">
                    <img src="/wwwroot/img/Cornfield.jpeg">
                    <img src="/wwwroot/img/DadandB.jpeg">
                    <img src="/wwwroot/img/DadandB2.jpeg">
                </div>
            </div>
            <div class="columns">
                <div class="row">
                    <img src="/wwwroot/img/MomandB.jpeg">
                    <img src="/wwwroot/img/MomandB2.jpeg">
                    <img src="/wwwroot/img/Tootsie.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
