<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bruce</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body class="bg">

    <div style="display: flex; justify-content: flex-end">
        <a type="button" role="button" href="/" class="btn btn-primary ">Home</a>
    </div>


    <h1 class="text-lg-center" style="color: #00C7C3; text-shadow: 2px 2px #040404;">
        Bruce The Caboose</h1>

    <div class="row bg" style="justify-content: center;">
        <video width="720" height="340" controls>
            <source src="/videos/32666FDF-E5E9-4E47-9192-6F5BF904D600.mp4" type="video/mp4">
            @* <source src="" type=""> *@
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="row" style="color: #EFFCFC;">
        <div class="col"
            style="background-color: #5A5A59; box-shadow: 5px 10px 18px; padding: 10px; background: rgb(27, 27, 8, 0.6);">
            <partial name="_BruceSummary" />
        </div>
    </div>

    <div class="col">
        <div class="col" style="display: flex; justify-content: space-around;">
            <img src="/img/AandB.jpeg" class="img" width="30%" height="auto">
            <img src="/img/Brothers1.jpeg" class="img" width="30%" height="auto">
            <img src="/img/Brothers2.jpeg" class="img" width="30%" height="auto">
        </div>
    </div>
    <div class="col">
        <div class="col" style="display: flex; justify-content: space-around;">
            <img src="/img/Cornfield.jpeg" class="img" width="30%" height="auto">
            <img src="/img/DadandB.jpeg" class="img" width="30%" height="auto">
            <img src="/img/DadandB2.jpeg" class="img" width="30%" height="auto">
        </div>
    </div>
    <div class="col">
        <div class="col" style="display: flex; justify-content: space-around;">
            <img src="/img/MomandB.jpeg" class="img" width="30%" height="auto">
            <img src="/img/MomandB2.jpeg" class="img" width="30%" height="auto">
            <img src="/img/Tootsie.jpeg" class="img" width="30%" height="auto">
        </div>
    </div>

    <div class="row" style="display:flex; justify-content: center">
        <a href="https://www.facebook.com/rememberbrucethecaboose/" class='fab fa-facebook-square' id="facebook"></a>
        <a href="https://www.instagram.com/rememberbrucethecaboose/?hl=en" class='fab fa-instagram' id="instagram"></a>
    </div>
</body>

</html>
