<div class="container mt-3">
    <header class="d-flex justify-content-end">
        <a href="#">Who is Bruce</a> | search
    </header>
    <div class="text-center">
        <h1>Oh the places you'll go....</h1>
    </div>

    <div class="d-flex justify-contents-around">
        <div style="margin-top: 100px;">
            <img src="/img/placeholder.jpg" alt="pic" width="380px" height="370px">
        </div>
        <div class="text-center ml-5 mr-5">
            <a href="#" class="btn btn-primary align-item-center"
                style="border: 2px solid black; height: 80px; width: 250px; border-radius: 20px;">
                <p>Did you find a Bruce Truck?</p>
                <p>Click Here</p>
            </a>
        </div>
        <div style="margin-top: 100px;" style="width: 650px; height: 350px;">
            <p class="text-center">Bruce's Most Recent Visits</p>
            <table class="table table-striped table-bordered" style="overflow-y: scroll; width: 600px">
                <thead style="background-color: grey;">
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Date Submitted</th>
                        <th scope="col">Name of Submitter</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody class="overflow-scroll">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
