<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        @**{outline:1pxdottedred;}*@.bg {
            /* The image used */
            background-image: url("https://k1ux2moa2s-flywheel.netdna-ssl.com/wp-content/uploads/2018/06/stansbury-park-utah.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        #instagram {
            background: radial-gradient(circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285aeb 90%);
            -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 40px;
            /*change this to change the size*/
        }

        #facebook {
            font-size: 40px;
        }
    </style>
</head>


<body class="bg">

    <div class="container" style="font-family: Georgia; box-shadow: 5px 10px 18px;">
        <div style="display: flex; justify-content:flex-end;">
            <a href="/home" class="btn btn-success">Home</a>
        </div>

        <div class="row" style="display: flex; justify-content: center;">

            <div class="col" style="text-align: center;">
                <h3>Please make your corrections and resubmit!</h3>

                <form class="md-form">
                    <div class="file-field">
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>Upload photo here!</span>
                                <input type="file">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-outline">
                                <input type="text" id="location" class="form-control" aria-describedby="textExample1"
                                    placeholder="Location of Truck" />
                                <label class="form-label" for="location" aria-placeholder="Location"></label>
                            </div>
                        </div>
                        <div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Details" id="Details"
                                    style="height: 100px"></textarea>
                                <label for="Details"></label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col" style="text-align: center;">
                <div class="row">
                    <h4>Did you forget to scan the QR code?</h4>
                    <p style="font-size: small;">No problem! Go ahead and scan the QR code now.</p>
                    <div>
                        <img src="https://gray-kwch-prod.cdn.arcpublishing.com/resizer/bOZkZ_Un8QEIwHZGCGnPPP4_quA=/980x0/smart/cloudfront-us-east-1.images.arcpublishing.com/gray/5A4FDMHJQVDCDDCUUUMVFQEZT4.png"
                            style="max-width: 25%;" />
                    </div>
                </div>
                <div class="row" style="display:flex; justify-content: center; color: #EEF7F6;">
                    <h6>Have Questions?</h6>
                </div>
                <div class="row" style="display:flex; justify-content: center; color: #EEF7F6;">
                    <h4>Reach out to us!</h4>
                </div>
                <div class="row" style="display:flex; justify-content: center">
                    <a href="https://www.facebook.com/rememberbrucethecaboose/" class='fab fa-facebook-square'
                        id="facebook"></a>
                    <a href="https://www.instagram.com/rememberbrucethecaboose/?hl=en" class='fab fa-instagram'
                        id="instagram"></a>
                </div>
            </div>
        </div>

    </div>


</body>


</html>
