@model LoginUser
<form asp-action="Login" asp-controller="Home" method="POST">
    <div class="form-group">
        <span asp-validation-for="LoginEmail" class="text-danger"></span>
        <input asp-for="LoginEmail" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <span asp-validation-for="LoginPassword" class="text-danger"></span>
        <input asp-for="LoginPassword" class="form-control" placeholder="Password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Enter</button>
    </div>

</form>