<div class="container">
    <a href="/">Home</a>
    <div class="column">
        <h3>Please make your corrections and resubmit!</h3>
        <form class="md-form">
            <div class="file-field">
                <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                        <span>Add photo</span>
                        <input type="file">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-outline">
                        <input type="text" id="location" class="form-control" aria-describedby="textExample1" />
                        <label class="form-label" for="location" aria-placeholder="Location"></label>
                    </div>
                </div>
                <div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Details" id="Details"
                            style="height: 100px"></textarea>
                        <label for="Details"></label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <div>
            <h3>Did you forget to scan the QR Code?</h3>
            <p>No problem! Go ahead and scan the QR code now. </p>
        </div>
        <div>
            <h5>Have Questions?</h5>
            <h3>Reach out to us!</h3>
        </div>
    </div>
</div>