<div class="container ">
    <div class="row mt-5 justify-content-around">
        <div class="col-xs-6 mt-5">
            <h2 class="text-center">Registration</h2>
            <partial name="_Registration" />
        </div>
        <div>
            <h2 class="text-center">Love and Live Big with all Your Might</h2>
            <div class="d-flex justify-content-center">
                <img src="/img/BruceMain1.jpeg" alt="pic" width="380px" height="370px">
            </div>
            <h3 class="text-center">Come see where Bruce has traveled to so far!</h3>
        </div>
        <div class="col-xs-6 mt-5">
            <h2 class="text-center">Login</h2>
            <partial name="_Login" />
        </div>
    </div>
</div>